/****************************/
/* Smaller Screens + Mobile */
/****************************/
/* Mobile Phones */
@media only screen and (min-width: 320px) and (max-width: 905px) and (min-device-width: 320px) and (max-device-width: 905px) {
	
	/* Showing the mobile menu bars */
	.mobile-menu-button {
		display: block;
		float: right;
		font-size: 32px;
		padding: 15px;
		cursor: pointer;
		color: var(--blue);
		transition: all 0.3s;
	}
	.mobile-menu-button:hover {color: var(--white);}
	/* disabling the menu untill on menu click */
	div.menu ul{display:none !important;}
	
/*****************/
	/* Content Posts */
	/*****************/
	.posts-collection *, .posts-collection input {font-size: 24px}
	.posts-collection span.price {font-size: 24px;}
	.posts-collection span.taxes {font-size: 16px;}
	.posts-collection .post-content {padding-top: 50px;}
	.posts-main-container{grid-template-columns: 1fr!;}
	.content-grid {margin-top: 100px;}
	.versions ul li {max-width: 100px;}
	
	/*links*/
	.link_custom_wrapper:hover .link_custom {padding-left: 0px;}
	.link_custom_wrapper:hover .link_custom::before {display: none;}
/* To Top */
	.toTopWrapper .toTop i {
		width: 50px;
		height: 50px;
		font-size: 45px;
	}
	.all.single-post, .single-post {
		padding-bottom: 200px;
	}
	
}
@media only screen and (max-device-width: 800px)  {
	.posts-main-container{grid-template-columns: repeat(1, 1fr);}
	.footer .footer-main-container { grid-template-columns: repeat(1, 2fr);	}
	.posts-collection .single-post .post-content, .over-mij-wrapper .over-mij-container .post-content {margin: 0 0 3em 0;}
	.versions ul li {max-width: 150px;}
	.versions span {font-size: 25px;}
	.single-post .links_bottom { padding: 2em 15px 2em 15px; }
	.header {bacgkround-color: red;}
}
@media only screen and (min-device-width: 801px) and (max-device-width: 1015px) {
	.posts-main-container{grid-template-columns: repeat(2, 1fr);}
	.header {bacgkround-color: orange;}
}
@media only screen and (max-device-width: 1210px) {
	.footer .footer-main-container { grid-template-columns: repeat(2, 2fr);	}
	.header {bacgkround-color: green;}
}